In [34]:
pip install datasets

Requirement already satisfied: datasets in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.17.1)
Requirement already satisfied: filelock in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from datasets) (3.13.1)
Requirement already satisfied: numpy>=1.17 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from datasets) (1.26.4)
Requirement already satisfied: pyarrow>=12.0.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from datasets) (15.0.0)
Requirement already satisfied: pyarrow-hotfix in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from datasets) (0.6)
Requirement already satisfied: dill<0.3.9,>=0.3.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from datasets) (0.3.8)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from datasets) (2.2.0)
Requirement already satisfied: requests>=2.19.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from datasets) (2.31.0)
Requirement already satisfied: tqdm>=4.62.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from datasets) (4.66.2)
Requirement already satisfied: xxhash in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from datasets) (3.4.1)
Requirement already satisfied: multiprocess in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from datasets) (0.70.16)
Requirement already satisfied: fsspec<=2023.10.0,>=2023.1.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from fsspec[http]<=2023.10.0,>=2023.1.0->datasets) (2023.10.0)
Requirement already satisfied: aiohttp in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from datasets) (3.9.3)
Requirement already satisfied: huggingface-hub>=0.19.4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from datasets) (0.20.3)
Requirement already satisfied: packaging in /Users/juliencardi/Library/Python/3.12/lib/python/site-packages (from datasets) (23.2)
Requirement already satisfied: pyyaml>=5.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from datasets) (6.0.1)
Requirement already satisfied: aiosignal>=1.1.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from aiohttp->datasets) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from aiohttp->datasets) (23.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from aiohttp->datasets) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from aiohttp->datasets) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from aiohttp->datasets) (1.9.4)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from huggingface-hub>=0.19.4->datasets) (4.9.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests>=2.19.0->datasets) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests>=2.19.0->datasets) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests>=2.19.0->datasets) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests>=2.19.0->datasets) (2024.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/juliencardi/Library/Python/3.12/lib/python/site-packages (from pandas->datasets) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas->datasets) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas->datasets) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/juliencardi/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas->datasets) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [35]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [36]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (1.4.1.post1)
Requirement already satisfied: numpy<2.0,>=1.19.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from scikit-learn) (3.3.0)
Note: you may need to restart the kernel to use updated packages.

On charge le dataset et on effectue une première briève analyse sur le dataset

In [37]:
import pandas as pd
from datasets import load_dataset
from sklearn.model_selection import train_test_split
dataset = load_dataset("julien-c/titanic-survival")
df = pd.DataFrame(dataset['train'])

In [38]:
print(df.shape)

(887, 8)

In [39]:
#On regarde si on a des données manquantes ou des données dupliquées

print(df.isnull().sum())
print(df.duplicated().sum())

Survived                   0
Pclass                     0
Name                       0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64
0

Création de nouvelles features

In [40]:
pip install altair

Requirement already satisfied: altair in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (5.2.0)
Requirement already satisfied: jinja2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from altair) (3.1.3)
Requirement already satisfied: jsonschema>=3.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from altair) (4.21.1)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from altair) (1.26.4)
Requirement already satisfied: packaging in /Users/juliencardi/Library/Python/3.12/lib/python/site-packages (from altair) (23.2)
Requirement already satisfied: pandas>=0.25 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from altair) (2.2.0)
Requirement already satisfied: toolz in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from altair) (0.12.1)
Requirement already satisfied: attrs>=22.2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jsonschema>=3.0->altair) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jsonschema>=3.0->altair) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jsonschema>=3.0->altair) (0.33.0)
Requirement already satisfied: rpds-py>=0.7.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jsonschema>=3.0->altair) (0.18.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/juliencardi/Library/Python/3.12/lib/python/site-packages (from pandas>=0.25->altair) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=0.25->altair) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=0.25->altair) (2024.1)
Requirement already satisfied: MarkupSafe>=2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jinja2->altair) (2.1.5)
Requirement already satisfied: six>=1.5 in /Users/juliencardi/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas>=0.25->altair) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [41]:
import altair as alt

on va ensuite chercheer à dériver de nouvelles features des features existantes en s'aidant de visualisations

In [42]:
df['FamilySize'] = df['Siblings/Spouses Aboard'] + df['Parents/Children Aboard'] + 1

# Création du graphique
chart = alt.Chart(df).mark_bar().encode(
    x=alt.X('FamilySize:O', title='Taille de la famille'),
    y=alt.Y('count()', title='Nombre de passagers'),
    color=alt.Color('Survived:N', title='Survécu', scale=alt.Scale(domain=[0, 1], range=['red', 'green'])),
    tooltip=[alt.Tooltip('count()', title='Nombre de passagers'), 'FamilySize', 'Survived']
).properties(
    title='Survie en fonction de la taille de la famille sur le Titanic'
)

chart.display()

alt.Chart(...)

In [43]:
def categorize_family_size(size):
    if size == 1:
        return 'Solo'
    elif size <= 4:
        return 'Petite Famille'
    else:
        return 'Grande Famille'

df['FamilyType'] = df['FamilySize'].apply(categorize_family_size)

# Création du graphique
chart = alt.Chart(df).mark_bar().encode(
    x=alt.X('FamilyType:O', title='Taille de la famille'),
    y=alt.Y('count()', title='Nombre de passagers'),
    color=alt.Color('Survived:N', title='Survécu', scale=alt.Scale(domain=[0, 1], range=['red', 'green'])),
    tooltip=[alt.Tooltip('count()', title='Nombre de passagers'), 'FamilyType', 'Survived']
).properties(
    title='Survie en fonction de la taille de la famille sur le Titanic'
)

chart.display()

alt.Chart(...)

In [44]:
#encodage par etiquettes pour FamilyType

from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df['FamilyType'] = label_encoder.fit_transform(df['FamilyType'])

In [45]:
import re

def extract_title(name):
    title_search = re.search('([A-Za-z]+)\.', name)
    if title_search:
        return title_search.group(1)
    return " "
df['Title'] = df['Name'].apply(extract_title)

# Création du graphique
chart = alt.Chart(df).mark_bar().encode(
    x=alt.X('Title:O', title='Titre'),
    y=alt.Y('count()', title='Nombre de passagers'),
    color=alt.Color('Survived:N', title='Survécu', scale=alt.Scale(domain=[0, 1], range=['red', 'green'])),
    tooltip=[alt.Tooltip('count()', title='Nombre de passagers'), 'Title', 'Survived']
).properties(
    title='Survie en fonction du titre sur le Titanic'
)

chart.display()

<>:4: SyntaxWarning: invalid escape sequence '\.'
<>:4: SyntaxWarning: invalid escape sequence '\.'
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/1711318172.py:4: SyntaxWarning: invalid escape sequence '\.'
  title_search = re.search('([A-Za-z]+)\.', name)

alt.Chart(...)

In [46]:
def group_titles(title):
    if title in ['Capt', 'Col', 'Countess', 'Don', 'Jonkheer', 'Lady', 'Sir']:
        return 'Royalty'
    elif title in ['Major']:
        return 'Military'
    elif title in ['Dr', 'Rev']:
        return 'Professional'
    elif title in ['Miss', 'Mlle', 'Ms']:
        return 'Miss'
    elif title in ['Mrs', 'Mme']:
        return 'Mrs'
    elif title == 'Master':
        return 'Master'
    elif title == 'Mr':
        return 'Mr'
    else:
        return title  # Pour les cas non listés

# Applique la fonction de regroupement à la colonne des titres
df['Title'] = df['Title'].apply(group_titles)

In [47]:
print(df['Title'].value_counts())

# Création du graphique
chart = alt.Chart(df).mark_bar().encode(
    x=alt.X('Title:O', title='Titre'),
    y=alt.Y('count()', title='Nombre de passagers'),
    color=alt.Color('Survived:N', title='Survécu', scale=alt.Scale(domain=[0, 1], range=['red', 'green'])),
    tooltip=[alt.Tooltip('count()', title='Nombre de passagers'), 'Title', 'Survived']
).properties(
    title='Survie en fonction du titre sur le Titanic'
)

chart.display()

Title
Mr              513
Miss            185
Mrs             126
Master           40
Professional     13
Royalty           8
Military          2
Name: count, dtype: int64

alt.Chart(...)

In [48]:
#name length

df['NameLength'] = df['Name'].apply(len)

# Création du graphique
chart = alt.Chart(df).mark_bar().encode(
    x=alt.X('NameLength:O', title='Longueur du nom'),
    y=alt.Y('count()', title='Nombre de passagers'),
    color=alt.Color('Survived:N', title='Survécu', scale=alt.Scale(domain=[0, 1], range=['red', 'green'])),
    tooltip=[alt.Tooltip('count()', title='Nombre de passagers'), 'NameLength', 'Survived']
).properties(
    title='Survie en fonction de la longueur du nom sur le Titanic'
)

chart.display()

alt.Chart(...)

In [49]:
def categorize_age(age):
    if age <= 12:
        return 'Child'
    elif age <= 60:
        return 'Adult'
    else:
        return 'Senior'

df['AgeGroup'] = df['Age'].apply(categorize_age)

# Création du graphique
chart = alt.Chart(df).mark_bar().encode(
    x=alt.X('AgeGroup:O', title='Groupe d\'âge'),
    y=alt.Y('count()', title='Nombre de passagers'),
    color=alt.Color('Survived:N', title='Survécu', scale=alt.Scale(domain=[0, 1], range=['red', 'green'])),
    tooltip=[alt.Tooltip('count()', title='Nombre de passagers'), 'AgeGroup', 'Survived']
).properties(
    title='Survie en fonction du groupe d\'âge sur le Titanic'
)

chart.display()

alt.Chart(...)

In [50]:
#encodage par etiquettes pour AgeGroup

from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df['AgeGroup'] = label_encoder.fit_transform(df['AgeGroup'])

In [51]:
df['Sex'] = df['Sex'].apply(lambda x: 1 if x == 'female' else 0)

In [52]:
#onehot encoding de Title

df = pd.get_dummies(df, columns=['Title'])

In [53]:
df['TicketFrequency'] = df['Fare'].map(df['Fare'].value_counts())

On créé ensuite la feature FamilySurvivalRate qui correspont simplement pour chaque individu au taux de survie observé dans l'ensemble d'entrainement pour sa famille (sans prendre l'individu même dans le calcul)

On rajoute également un coefficient  de ConfidenceFamilySurvival qui correspond au nombre de personne sur lequel on base ce calcul.

In [54]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Préparation des données
df['Family'] = df['Name'].str.extract('(\w+)(?:,|$)', expand=False)
df_train, df_test = train_test_split(df, test_size=0.2, random_state=0)

# Reset des index pour une manipulation correcte des données
df_train.reset_index(drop=True, inplace=True)
df_test.reset_index(drop=True, inplace=True)

# Fonction pour pré-calculer les taux de survie familiaux sans inclure l'individu
def calculate_family_survival_stats(data):
    family_stats = {}
    for idx, row in data.iterrows():
        key = row['Family']
        if key not in family_stats:
            family_stats[key] = {'total_survived': 0, 'count': 0}
        family_stats[key]['total_survived'] += row['Survived']
        family_stats[key]['count'] += 1

    # Convertir en DataFrame
    family_survival_stats = pd.DataFrame([
        {'Family': k, 'TotalSurvived': v['total_survived'], 'FamilyCount': v['count']}
        for k, v in family_stats.items()
    ])
    return family_survival_stats

# Appliquer la fonction pour obtenir les statistiques de survie de la famille sur l'ensemble d'entraînement
family_survival_stats = calculate_family_survival_stats(df_train)

# Fonction pour appliquer les statistiques de survie de la famille aux données
def apply_family_survival(data, train_data):
    result_rows = []
    for idx, row in data.iterrows():
        family_members = train_data[train_data['Family'] == row['Family']]
        adjusted_family_members = family_members[family_members.index != idx]

        adjusted_survived = adjusted_family_members['Survived'].sum()
        adjusted_count = len(adjusted_family_members)

        family_survival_rate = adjusted_survived / adjusted_count if adjusted_count > 0 else 0.5
        confidence_family_survival = adjusted_count

        result_row = row.to_dict()
        result_row['FamilySurvivalRate'] = family_survival_rate
        result_row['ConfidenceFamilySurvival'] = confidence_family_survival
        result_rows.append(result_row)

    return pd.DataFrame(result_rows)

# Appliquer les statistiques de survie aux ensembles de données
df_train = apply_family_survival(df_train, df_train)
df_test = apply_family_survival(df_test, df_train)

# Ajouter une colonne pour indiquer l'origine des données
df_train['Source'] = 'train'
df_test['Source'] = 'test'

# Combiner les deux DataFrames
df_combined = pd.concat([df_train, df_test])

# Choisir aléatoirement 100 familles uniques
import random
sampled_families = random.sample(list(df_combined['Family'].unique()), 100)

# Afficher les données pour ces familles
for family in sampled_families:
    family_data = df_combined[df_combined['Family'] == family]
    display(family_data[[
        'Name', 'Family', 'Survived', 'FamilySize', 'FamilySurvivalRate', 'ConfidenceFamilySurvival', 'Source'
    ]])

# Vérifier si les colonnes des taux de survie et autres sont correctement formées
print("Colonnes présentes dans df_combined:", df_combined.columns)

<>:5: SyntaxWarning: invalid escape sequence '\w'
<>:5: SyntaxWarning: invalid escape sequence '\w'
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3031268366.py:5: SyntaxWarning: invalid escape sequence '\w'
  df['Family'] = df['Name'].str.extract('(\w+)(?:,|$)', expand=False)

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
672,Mr. Ingvald Olai Olsen Hagland,Hagland,0,2,0.5,0,train
148,Mr. Konrad Mathias Reiersen Hagland,Hagland,0,2,0.0,1,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
289,Mr. Emile Richard,Richard,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
3,Mr. Juho Stranden,Stranden,1,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
11,Miss. Marjorie Newell,Newell,1,2,0.5,0,train
82,Mr. Arthur Webster Newell,Newell,0,3,1.0,1,test
109,Miss. Madeleine Newell,Newell,1,2,1.0,1,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
123,Mr. David Charters,Charters,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
687,Miss. Velin Ohman,Ohman,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
307,Mr. Jakob Alfred Wiklund,Wiklund,0,2,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
414,Miss. Mary Davis,Davis,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
120,Miss. Hanora O'Leary,Leary,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
338,Mr. Olaf Elon Osen,Osen,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
547,Mr. Adolphe Saalfeld,Saalfeld,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
170,Mr. Frederick James Banfield,Banfield,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
570,Mr. Selman Francis Slocovski,Slocovski,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
3,Mr. Charles H Natsch,Natsch,0,2,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
303,Mr. Mauritz Hakan Bjornstrom-Steffansson,Steffansson,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
629,Mr. Francisco M Carrau,Carrau,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
194,Mr. Edwy Arthur West,West,0,4,1.0,2,train
518,Mrs. Edwy Arthur (Ada Mary Worth) West,West,1,4,0.5,2,train
634,Miss. Constance Mirium West,West,1,4,0.5,2,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
642,Miss. Elizabeth Margaret Burns,Burns,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
113,Mr. Jose Neto Jardin,Jardin,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
130,Miss. Hanora Hegarty,Hegarty,0,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
344,Miss. Ida Lefebre,Lefebre,0,5,0.0,1,train
522,Miss. Mathilde Lefebre,Lefebre,0,5,0.0,1,train
4,Miss. Jeannie Lefebre,Lefebre,0,5,0.0,2,test
114,Master. Henry Forbes Lefebre,Lefebre,0,5,0.0,2,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
136,Mrs. Johan (Johanna Persdotter Larsson) Ahlin,Ahlin,0,2,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
91,Miss. Annie Jermyn,Jermyn,1,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
222,Mr. Matti Rintamaki,Rintamaki,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
165,Master. Karl Thorsten Skoog,Skoog,0,6,0.0,2,train
508,Mrs. William (Anna Bernhardina Karlsson) Skoog,Skoog,0,6,0.0,2,train
661,Miss. Margit Elizabeth Skoog,Skoog,0,6,0.0,2,train
149,Master. Harald Skoog,Skoog,0,6,0.0,3,test
162,Mr. Wilhelm Skoog,Skoog,0,6,0.0,3,test
176,Miss. Mabel Skoog,Skoog,0,6,0.0,3,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
458,Major. Arthur Godfrey Peuchen,Peuchen,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
174,Jonkheer. John George Reuchlin,Reuchlin,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
692,Mr. Ernst William Torber,Torber,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
677,Mr. Patrick Connors,Connors,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
0,Mr. Mauritz Nils Martin Adahl,Adahl,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
75,Don. Manuel E Uruchurtu,Uruchurtu,0,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
389,Miss. Bertha LeRoy,LeRoy,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
616,Mr. Rene Pernot,Pernot,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
19,Miss. Delia Henry,Henry,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
165,Miss. Eliina Honkanen,Honkanen,1,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
442,Mrs. Dickinson H (Helen Walton) Bishop,Bishop,1,2,0.5,0,train
128,Mr. Dickinson H Bishop,Bishop,1,2,1.0,1,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
363,Mr. Gustave J Lesurer,Lesurer,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
274,Mr. William Ali,Ali,0,1,0.0,1,train
577,Mr. Ahmed Ali,Ali,0,1,0.0,1,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
59,Mr. Albert Augustsson,Augustsson,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
275,Miss. Jessie Wills Leitch,Leitch,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
22,Mr. Alfred George John Rush,Rush,0,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
82,Mr. Johan Emil Petterson,Petterson,0,2,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
91,Miss. Julie Rachel Christy,Christy,1,3,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
613,Mr. Arne Jonas Fahlstrom,Fahlstrom,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
72,Mr. Thomas William Solomon Brown,Brown,0,3,1.000000,2,train
348,Miss. Amelia Brown,Brown,1,1,0.500000,2,train
372,Mrs. Thomas William Solomon (Elizabeth Catherine Ford) Brown,Brown,1,3,0.500000,2,train
69,Mrs. James Joseph (Margaret Tobin) Brown,Brown,1,1,0.666667,3,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
682,Miss. Katie Peters,Peters,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
134,Mr. Janko Vovk,Vovk,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
137,Mr. John Hatfield Cribb,Cribb,0,2,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
600,Mr. Khalil Saad,Saad,0,1,0.5,0,train
59,Mr. Amin Saad,Saad,0,1,0.0,1,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
707,Mr. Robert Douglas Norman,Norman,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
180,Mr. Thomas Rowan Morrow,Morrow,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
305,Mr. Houssein G N Hassan,Hassan,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
671,Miss. Matilda Petranec,Petranec,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
530,Rev. Robert James Bateman,Bateman,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
236,Mr. William Bertram Greenfield,Greenfield,1,2,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
116,Mr. Frederick William Shellard,Shellard,0,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
224,Mrs. Leopold (Mathilde Francoise Pede) Weisz,Weisz,1,2,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
369,Mr. Ramon Artagaveytia,Artagaveytia,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
490,Mr. Thornton Davidson,Davidson,0,2,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
122,Mr. Christo Nenkoff,Nenkoff,0,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
550,Mr. Charles Joseph Shorney,Shorney,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
654,Mrs. Martin (Elizabeth L. Barrett) Rothschild,Rothschild,1,2,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
568,Miss. Elizabeth Bonnell,Bonnell,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
129,Mr. Lawrence Beesley,Beesley,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
283,Miss. Catharina Van Impe,Impe,0,3,0.0,2,train
302,Mrs. Jean Baptiste (Rosalie Paula Govaert) Van Impe,Impe,0,3,0.0,2,train
357,Mr. Jean Baptiste Van Impe,Impe,0,3,0.0,2,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
254,Mr. Samuel James Hayden Sobey,Sobey,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
65,Mr. Hammad Hassab,Hassab,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
411,Mr. Albert Johan Moss,Moss,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
21,Mr. Benjamin Hart,Hart,0,3,0.500000,2,train
144,Mr. Henry Hart,Hart,0,1,0.500000,2,train
373,Mrs. Benjamin (Esther Ada Bloomfield) Hart,Hart,1,3,0.000000,2,train
73,Miss. Eva Miriam Hart,Hart,1,3,0.333333,3,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
5,Mr. William Harrison,Harrison,0,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
261,Miss. Gretchen Fiske Longley,Longley,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
249,Mr. Herman Klaber,Klaber,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
7,Mr. Samuel Beard Risien,Risien,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
74,Master. Juha Niilo Panula,Panula,0,6,0.0,3,train
364,Master. Eino Viljami Panula,Panula,0,6,0.0,3,train
405,Mrs. Juha (Maria Emilia Ojala) Panula,Panula,0,6,0.0,3,train
455,Mr. Jaako Arnold Panula,Panula,0,6,0.0,3,train
124,Mr. Ernesti Arvid Panula,Panula,0,6,0.0,4,test
145,Master. Urho Abraham Panula,Panula,0,6,0.0,4,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
60,Mr. Nikola Lulic,Lulic,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
259,Mr. Manuel Estanslas Goncalves,Goncalves,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
70,Mr. Hanna Assi Barah,Barah,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
32,Mrs. (Karolina) Bystrom,Bystrom,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
397,Mr. Frans Olof Carlsson,Carlsson,0,1,0.0,1,train
513,Mr. August Sigfrid Carlsson,Carlsson,0,1,0.0,1,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
36,Mr. Francis Davis Millet,Millet,0,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
651,Miss. Ellen O'Dwyer,Dwyer,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
272,Miss. Caroline Louise Endres,Endres,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
321,Mr. Johan Svensson Lundahl,Lundahl,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
86,Miss. Marija Oreskovic,Oreskovic,0,1,0.5,0,test
129,Mr. Luka Oreskovic,Oreskovic,0,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
240,Mr. Sigurd Hansen Moen,Moen,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
64,Mr. Jeremiah Burke,Burke,0,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
141,Mr. Mitto Denkoff,Denkoff,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
598,Miss. Bertha Lehmann,Lehmann,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
277,Mrs. (Mantoura Boulos) Moussa,Moussa,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
15,Mr. Wazli Yousif,Yousif,0,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
498,Mrs. (Mary) Mack,Mack,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
212,Mr. Olof Svensson,Svensson,0,1,0.0,1,train
674,Mr. Johan Svensson,Svensson,0,1,0.0,1,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
100,Mr. Reginald Charles Coleridge,Coleridge,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
103,Miss. Nourelain Boulos,Boulos,0,3,0.0,2,train
524,Mr. Hanna Boulos,Boulos,0,1,0.0,2,train
537,Mrs. Joseph (Sultana) Boulos,Boulos,0,3,0.0,2,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
540,Mr. Yousseff Ibrahim Shawah,Shawah,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
430,Mr. Mito Mitkoff,Mitkoff,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
67,Mrs. William (Imanita Parrish Hall) Shelley,Shelley,1,2,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
506,Mr. Fletcher Fellows Williams-Lambert,Lambert,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
591,Mr. William Thomas Beavan,Beavan,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
55,Mr. Thomas Drake Martinez Cardeza,Cardeza,1,2,0.5,0,train

Colonnes présentes dans df_combined: Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare', 'FamilySize', 'FamilyType',
       'NameLength', 'AgeGroup', 'Title_Master', 'Title_Military',
       'Title_Miss', 'Title_Mr', 'Title_Mrs', 'Title_Professional',
       'Title_Royalty', 'TicketFrequency', 'Family', 'FamilySurvivalRate',
       'ConfidenceFamilySurvival', 'Source'],
      dtype='object')

In [55]:
import random
import pandas as pd

# Ajouter une colonne pour indiquer l'origine des données
df_train['Source'] = 'train'
df_test['Source'] = 'test'

# Combiner les deux DataFrames
df = pd.concat([df_train, df_test])

# Choisir aléatoirement 100 familles uniques
sampled_families = random.sample(list(df['Family'].unique()), 100)

# Afficher les données pour ces familles
for family in sampled_families:
    family_data = df[df['Family'] == family]
    display(family_data[[
        'Name', 'Family', 'Survived', 'FamilySize', 'FamilySurvivalRate', 'ConfidenceFamilySurvival', 'Source',
    ]])

# Vérifier si les colonnes des taux de survie et autres sont correctement formées
print("Colonnes présentes dans df:", df.columns)

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
174,Mr. Gustaf Hjalmar Edvardsson,Edvardsson,0,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
104,Master. Viljo Hamalainen,Hamalainen,1,3,1.0,1,train
267,Mrs. William (Anna) Hamalainen,Hamalainen,1,3,1.0,1,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
62,Miss. Marion Louise Becker,Becker,1,4,1.0,1,train
564,Master. Richard F Becker,Becker,1,4,1.0,1,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
494,Mr. Hans Kristensen Givard,Givard,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
413,Mrs. Joseph (Maria Elias) Caram,Caram,0,2,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
116,Master. Arthur Rice,Rice,0,6,0.0,4,train
163,Master. George Hugh Rice,Rice,0,6,0.0,4,train
286,Mrs. William (Margaret Norton) Rice,Rice,0,6,0.0,4,train
391,Master. Eric Rice,Rice,0,6,0.0,4,train
412,Master. Eugene Rice,Rice,0,6,0.0,4,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
284,Mr. Gerious Yousseff,Yousseff,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
214,Mr. Karl Alfred Backstrom,Backstrom,0,2,1.0,1,train
623,Mrs. Karl Alfred (Maria Mathilda Gustafsson) Backstrom,Backstrom,1,4,0.0,1,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
212,Mr. Olof Svensson,Svensson,0,1,0.0,1,train
674,Mr. Johan Svensson,Svensson,0,1,0.0,1,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
687,Miss. Velin Ohman,Ohman,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
565,Miss. Mary Agatha Glynn,Glynn,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
150,Mrs. (Edith Martha Bowerman) Chibnall,Chibnall,1,2,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
529,Miss. Hileni Zabour,Zabour,0,2,0.5,0,train
53,Miss. Thamine Zabour,Zabour,0,2,0.0,1,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
200,Mr. Henry Blank,Blank,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
321,Mr. Johan Svensson Lundahl,Lundahl,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
583,Mrs. William Baird (Alice Munger) Silvey,Silvey,1,2,0.0,1,train
673,Mr. William Baird Silvey,Silvey,0,2,1.0,1,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
285,Mr. Algernon Henry Wilson Barkworth,Barkworth,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
79,Mr. William John Robert Turpin,Turpin,0,2,0.0,1,train
574,Mrs. William John Robert (Dorothy Ann Wonnacott) Turpin,Turpin,0,2,0.0,1,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
557,Mr. Frederic Kimber Seward,Seward,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
708,Mr. Branko Dakic,Dakic,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
177,Miss. Anna Sofia Nysten,Nysten,1,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
51,Miss. Laina Heikkinen,Heikkinen,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
693,Mr. George Quincy Clifford,Clifford,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
15,Mr. Hugh Woolner,Woolner,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
99,Miss. Madeleine Violet Mellinger,Mellinger,1,2,0.5,0,train
154,Mrs. (Elizabeth Anne Maidment) Mellinger,Mellinger,1,2,1.0,1,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
271,Miss. Helen Monypeny Newsom,Newsom,1,3,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
181,Mr. Frederick Sutton,Sutton,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
498,Mrs. (Mary) Mack,Mack,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
613,Mr. Arne Jonas Fahlstrom,Fahlstrom,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
607,Mr. Wyckoff Van der hoef,hoef,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
239,Mr. James Scanlan,Scanlan,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
492,Mr. Viktor Richard Rosblom,Rosblom,0,3,0.5,0,train
10,Mrs. Viktor (Helena Wilhelmina) Rosblom,Rosblom,0,3,0.0,1,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
60,Mr. Nikola Lulic,Lulic,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
179,Mr. Thomas Clinton Pears,Pears,0,2,0.5,0,train
101,Mrs. Thomas (Edith Wearne) Pears,Pears,1,2,0.0,1,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
464,Mr. Lalio Jonkoff,Jonkoff,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
2,Miss. Hildur E Hirvonen,Hirvonen,1,2,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
477,Mr. Lee Bing,Bing,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
305,Mr. Houssein G N Hassan,Hassan,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
571,Mr. Hanna Mamee,Mamee,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
328,Mrs. Samuel (Jane Laver) Herman,Herman,1,4,1.0,1,train
345,Miss. Alice Herman,Herman,1,4,1.0,1,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
530,Rev. Robert James Bateman,Bateman,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
8,Major. Archibald Willingham Butt,Butt,0,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
614,Mr. Peju Coleff,Coleff,0,1,0.5,0,train
28,Mr. Satio Coleff,Coleff,0,1,0.0,1,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
167,Mr. Harry Anderson,Anderson,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
165,Miss. Eliina Honkanen,Honkanen,1,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
342,Mr. Peter Andreas Lauritz Andersen Soholt,Soholt,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
244,Miss. Roberta Maioni,Maioni,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
59,Mr. Albert Augustsson,Augustsson,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
43,Mr. Cerin Balkic,Balkic,0,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
697,Mr. Thomas Leonard Theobald,Theobald,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
173,Mr. Chang Chip,Chip,1,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
371,Mr. Benjamin Laventall Foreman,Foreman,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
58,Mr. Charles Duane Williams,Williams,0,2,0.333333,3,train
109,Mr. Charles Eugene Williams,Williams,1,1,0.000000,3,train
201,Mr. Howard Hugh Williams,Williams,0,1,0.333333,3,train
351,Mr. Leslie Williams,Williams,0,1,0.333333,3,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
131,Miss. Anna Sofia Sjoblom,Sjoblom,1,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
50,Mr. Ilia Stoytcheff,Stoytcheff,0,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
602,Miss. Elizabeth W Shutes,Shutes,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
633,Miss. Aloisia Haas,Haas,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
677,Mr. Patrick Connors,Connors,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
170,Mr. Frederick James Banfield,Banfield,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
68,Mr. Hans Martin Monsen Birkeland,Birkeland,0,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
643,Miss. Kornelia Theodosia Andrews,Andrews,1,2,0.0,1,train
650,Mr. Thomas Jr Andrews,Andrews,0,1,1.0,1,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
84,Mr. Sahid Nakid,Nakid,1,3,0.5,0,train
110,Miss. Maria Nakid,Nakid,1,3,1.0,1,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
205,Mrs. Thomas Jr (Lily Alexenia Wilson) Potter,Potter,1,2,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
72,Mr. Thomas William Solomon Brown,Brown,0,3,1.000000,2,train
348,Miss. Amelia Brown,Brown,1,1,0.500000,2,train
372,Mrs. Thomas William Solomon (Elizabeth Catherine Ford) Brown,Brown,1,3,0.500000,2,train
69,Mrs. James Joseph (Margaret Tobin) Brown,Brown,1,1,0.666667,3,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
70,Mr. Hanna Assi Barah,Barah,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
269,Mr. Frank John Goldsmith,Goldsmith,0,3,1.0,2,train
410,Master. Frank John William Goldsmith,Goldsmith,1,3,0.5,2,train
519,Mrs. Frank John (Emily Alice Brown) Goldsmith,Goldsmith,1,3,0.5,2,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
495,Mr. Lawrence Gavey,Gavey,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
128,Miss. Mary McGovern,McGovern,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
27,Miss. Emily Rugg,Rugg,1,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
281,Mr. Daniel Danielsen Gronnestad,Gronnestad,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
39,Mr. Ernst Gilbert Danbom,Danbom,0,3,0.5,0,test
170,Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren) Danbom,Danbom,0,3,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
40,Miss. Hanora Healy,Healy,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
85,Mrs. (Beila) Moor,Moor,1,2,1.0,1,train
425,Master. Meier Moor,Moor,1,2,1.0,1,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
520,Mr. Nicholas Nasser,Nasser,0,2,1.0,1,train
700,Mrs. Nicholas (Adele Achem) Nasser,Nasser,1,2,0.0,1,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
19,Mr. Maxmillian Frolicher-Stehli,Stehli,1,3,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
664,Miss. Ellen Barber,Barber,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
376,Mr. Victor Francis Sunderland,Sunderland,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
300,Mr. Martin Gallagher,Gallagher,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
228,Miss. Helmina Josefina Nilsson,Nilsson,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
71,Mr. Arthur Ernest Nicholson,Nicholson,0,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
273,Mr. Martin Ponesell,Ponesell,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
94,Rev. Juozas Montvila,Montvila,0,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
486,Miss. Albina Bazzani,Bazzani,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
140,Mr. Walter Chamberlain Porter,Porter,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
349,Mr. Alfred Gaskell,Gaskell,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
576,Mr. Alfred J Davies,Davies,0,3,0.0,1,train
593,Mr. Charles Henry Davies,Davies,0,1,0.0,1,train
65,Master. John Morgan Jr Davies,Davies,1,3,0.0,2,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
33,Miss. Adele Kiamie Najib,Najib,1,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
76,Miss. Clear Annie Cameron,Cameron,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
9,Mr. Mohamed Badt,Badt,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
578,Rev. Thomas Roussel Davids Byles,Byles,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
106,Mr. Henry Samuel Morley,Morley,0,1,0.0,1,train
208,Mr. William Morley,Morley,0,1,0.0,1,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
77,Mr. Samuel Dennis,Dennis,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
689,Miss. Alice Cleaver,Cleaver,1,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
108,Mr. Ivan Stankovic,Stankovic,0,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
638,Master. Washington Dodge,Dodge,1,3,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
24,Mr. Spencer Victor Silverthorne,Silverthorne,1,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
141,Mr. Mitto Denkoff,Denkoff,0,1,0.5,0,train

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
423,Miss. Doolina Margaret Ford,Ford,0,5,0.0,1,train
441,Miss. Robina Maggie Ford,Ford,0,5,0.0,1,train
112,Mrs. Edward (Margaret Ann Watson) Ford,Ford,0,5,0.0,2,test
161,Mr. William Neal Ford,Ford,0,5,0.0,2,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
51,Mr. Mansour Hanna,Hanna,0,1,0.5,0,test

,Name,Family,Survived,FamilySize,FamilySurvivalRate,ConfidenceFamilySurvival,Source
279,Mr. Karl Ivar Sven Berglund,Berglund,0,1,0.5,0,train

Colonnes présentes dans df: Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare', 'FamilySize', 'FamilyType',
       'NameLength', 'AgeGroup', 'Title_Master', 'Title_Military',
       'Title_Miss', 'Title_Mr', 'Title_Mrs', 'Title_Professional',
       'Title_Royalty', 'TicketFrequency', 'Family', 'FamilySurvivalRate',
       'ConfidenceFamilySurvival', 'Source'],
      dtype='object')

In [56]:
df_test['ConfidenceFamilySurvival'].value_counts()

ConfidenceFamilySurvival
0    102
1     37
2     18
3     14
4      4
7      2
5      1
Name: count, dtype: int64

In [57]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
# Sélection des features
features = [
    'Pclass', 'Sex', 'Age', 'Siblings/Spouses Aboard', 'Parents/Children Aboard',
    'Fare', 'FamilySize', 'FamilyType', 'NameLength', 'AgeGroup',
    'Title_Master', 'Title_Military', 'Title_Miss', 'Title_Mr', 'Title_Mrs',
    'Title_Professional', 'Title_Royalty', 'TicketFrequency',
 'FamilySurvivalRate', 'ConfidenceFamilySurvival',
]
X_train = df_train[features]
X_test = df_test[features]


# La cible/target
Y_train = df_train['Survived']
y_test = df_test['Survived']

In [58]:
from sklearn.preprocessing import StandardScaler
scaler_cols = ['Parents/Children Aboard','Siblings/Spouses Aboard', 'Fare', 'NameLength', 'FamilySize', 'NameLength',
               'TicketFrequency',  'FamilySurvivalRate', 'ConfidenceFamilySurvival',]

scaler = StandardScaler()
X_train[scaler_cols] = scaler.fit_transform(X_train[scaler_cols])
X_test[scaler_cols] = scaler.transform(X_test[scaler_cols])

/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/2699645938.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[scaler_cols] = scaler.fit_transform(X_train[scaler_cols])
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/2699645938.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[scaler_cols] = scaler.transform(X_test[scaler_cols])

In [59]:
for col in X_train.columns:
    X_train[col] = X_train[col].astype(float)
    X_test[col] = X_test[col].astype(float)

/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[col] = X_train[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[col] = X_test[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[col] = X_train[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[col] = X_test[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[col] = X_train[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[col] = X_test[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[col] = X_train[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[col] = X_test[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[col] = X_train[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[col] = X_test[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[col] = X_train[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[col] = X_test[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[col] = X_train[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[col] = X_test[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[col] = X_train[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[col] = X_test[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[col] = X_train[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[col] = X_test[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[col] = X_train[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[col] = X_test[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[col] = X_train[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[col] = X_test[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[col] = X_train[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[col] = X_test[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[col] = X_train[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[col] = X_test[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[col] = X_train[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[col] = X_test[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[col] = X_train[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[col] = X_test[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[col] = X_train[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[col] = X_test[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[col] = X_train[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[col] = X_test[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[col] = X_train[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[col] = X_test[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[col] = X_train[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[col] = X_test[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[col] = X_train[col].astype(float)
/var/folders/90/vkxt4j7s77jgmpj5lqchw0bh0000gn/T/ipykernel_16116/3556882628.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[col] = X_test[col].astype(float)

SQD testé initialement et très mauvais résultat donc ne sera pas testé par la suite

In [60]:
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import DataLoader, TensorDataset
from torch.utils.tensorboard import SummaryWriter
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, precision_score, recall_score
import random
import numpy as np
seed = 42
random.seed(seed)
np.random.seed(seed)
torch.manual_seed(seed)
if torch.cuda.is_available():
    torch.cuda.manual_seed(seed)
    torch.cuda.manual_seed_all(seed)
# Configuration des paramètres
input_size = X_train.shape[1]
output_size = 1
num_epochs = 100

# Définition du réseau de neurones avec plusieurs architectures
class TitanicNN(nn.Module):
    def __init__(self, input_size, hidden_sizes, output_size, activation_fn, dropout_rate=0.5):
        super(TitanicNN, self).__init__()
        layers = []
        in_size = input_size
        for h_size in hidden_sizes:
            layers.append(nn.Linear(in_size, h_size))
            layers.append(activation_fn())
            layers.append(nn.Dropout(dropout_rate))  # Ajout de Dropout
            in_size = h_size
        layers.append(nn.Linear(in_size, output_size))
        layers.append(nn.Sigmoid())
        self.network = nn.Sequential(*layers)

    def forward(self, x):
        return self.network(x)

# Implémentation de Focal Loss
class FocalLoss(nn.Module):
    def __init__(self, alpha=1, gamma=2, logits=False, reduce=True):
        super(FocalLoss, self).__init__()
        self.alpha = alpha
        self.gamma = gamma
        self.logits = logits
        self.reduce = reduce

    def forward(self, inputs, targets):
        if self.logits:
            BCE_loss = nn.functional.binary_cross_entropy_with_logits(inputs, targets, reduction='none')
        else:
            BCE_loss = nn.functional.binary_cross_entropy(inputs, targets, reduction='none')
        pt = torch.exp(-BCE_loss)
        F_loss = self.alpha * (1-pt)**self.gamma * BCE_loss

        if self.reduce:
            return torch.mean(F_loss)
        else:
            return F_loss

# Plages de valeurs pour les hyperparamètres
param_ranges = {
    'hidden_sizes': [(16,), (32,), (16, 8), (32, 16), (64, 32, 16)],  # Différentes architectures
    'activation_fn': [nn.ReLU, nn.Tanh, nn.Sigmoid],  # Différentes fonctions d'activation
    'learning_rate': (0.001, 0.05),  # Plage réduite pour learning_rate
    'batch_size': (16, 64)  # Plage pour batch_size
}

loss_functions = {
    'BCELoss': nn.BCELoss(),
    'BCEWithLogitsLoss': nn.BCEWithLogitsLoss(),
    'FocalLoss': FocalLoss(logits=True)
}

# Détection de l'appareil (GPU si disponible)
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

# Fonction pour entraîner et valider le modèle
def train_and_validate_model(params, loss_fn, X_train, Y_train, optimizer_type, run_name):
    X_train_fold, X_val_fold, Y_train_fold, Y_val_fold = train_test_split(X_train, Y_train, test_size=0.2, random_state=42)

    X_train_tensor = torch.tensor(X_train_fold.values, dtype=torch.float32).to(device)
    Y_train_tensor = torch.tensor(Y_train_fold.values, dtype=torch.float32).unsqueeze(1).to(device)
    X_val_tensor = torch.tensor(X_val_fold.values, dtype=torch.float32).to(device)
    Y_val_tensor = torch.tensor(Y_val_fold.values, dtype=torch.float32).unsqueeze(1).to(device)

    train_loader = DataLoader(TensorDataset(X_train_tensor, Y_train_tensor), batch_size=params['batch_size'], shuffle=True)

    model = TitanicNN(input_size, params['hidden_sizes'], output_size, params['activation_fn']).to(device)
    criterion = loss_fn

    if optimizer_type == 'SGD':
        optimizer = optim.SGD(model.parameters(), lr=params['learning_rate'])
    elif optimizer_type == 'AdaGrad':
        optimizer = optim.Adagrad(model.parameters(), lr=params['learning_rate'])
    elif optimizer_type == 'Adam':
        optimizer = optim.Adam(model.parameters(), lr=params['learning_rate'])

    writer = SummaryWriter(f"runs/{run_name}")

    for epoch in range(num_epochs):
        model.train()
        running_loss = 0.0
        for i, (inputs, labels) in enumerate(train_loader):
            optimizer.zero_grad()
            outputs = model(inputs)
            loss = criterion(outputs, labels)
            loss.backward()
            optimizer.step()
            running_loss += loss.item()
            writer.add_scalar(f'Loss/train', loss.item(), epoch * len(train_loader) + i)

        writer.add_scalar(f'Loss/train_epoch', running_loss / len(train_loader), epoch)

    model.eval()
    val_loader = DataLoader(TensorDataset(X_val_tensor, Y_val_tensor), batch_size=params['batch_size'], shuffle=False)
    all_predictions = []
    all_labels = []
    val_loss = 0.0
    with torch.no_grad():
        for inputs, labels in val_loader:
            outputs = model(inputs)
            loss = criterion(outputs, labels)
            val_loss += loss.item()
            predictions = (outputs > 0.5).float()
            all_predictions.extend(predictions.cpu().numpy())
            all_labels.extend(labels.cpu().numpy())

    val_accuracy = np.mean(np.array(all_predictions) == np.array(all_labels))
    mean_f1_score = f1_score(all_labels, all_predictions, zero_division=1)
    mean_precision = precision_score(all_labels, all_predictions, zero_division=1)
    mean_recall = recall_score(all_labels, all_predictions, zero_division=1)

    writer.add_scalar(f'Loss/val', val_loss / len(val_loader), epoch)
    writer.add_scalar(f'Accuracy/val', val_accuracy, epoch)
    writer.add_scalar(f'F1_Score/val', mean_f1_score, epoch)
    writer.add_scalar(f'Precision/val', mean_precision, epoch)
    writer.add_scalar(f'Recall/val', mean_recall, epoch)

    writer.close()

    return val_accuracy, mean_f1_score, mean_precision, mean_recall

# Recherche d'hyperparamètres avec random search
optimizers = ['AdaGrad', 'Adam']
num_iterations = 120  # Nombre d'itérations pour la recherche aléatoire

best_metrics = {optimizer: {
    'accuracy': 0.0,
    'f1_score': 0.0,
    'precision': 0.0,
    'recall': 0.0
} for optimizer in optimizers}
best_params = {optimizer: None for optimizer in optimizers}
best_loss_fn = {optimizer: None for optimizer in optimizers}

for optimizer in optimizers:
    run_name = "TitanicNN"  # Nom de l'exécution, peut être modifié selon les besoins
    for iteration in range(num_iterations):
        params = {
            'hidden_sizes': random.choice(param_ranges['hidden_sizes']),
            'activation_fn': random.choice(param_ranges['activation_fn']),
            'learning_rate': random.uniform(*param_ranges['learning_rate']),
            'batch_size': random.randint(*param_ranges['batch_size'])
        }

        loss_fn_name, loss_fn = random.choice(list(loss_functions.items()))

        hyperparams_str = f"{params['hidden_sizes']}_{params['activation_fn'].__name__}_{params['learning_rate']}_{params['batch_size']}_{loss_fn_name}"
        run_name = f"{optimizer}_{hyperparams_str}"

        val_accuracy, mean_f1_score, mean_precision, mean_recall = train_and_validate_model(params, loss_fn, X_train, Y_train, optimizer, run_name)

        writer = SummaryWriter(f"runs/{run_name}")

        writer.add_scalar(f'Accuracy/val', val_accuracy, iteration + 1)
        writer.add_scalar(f'F1_Score/val', mean_f1_score, iteration + 1)
        writer.add_scalar(f'Precision/val', mean_precision, iteration + 1)
        writer.add_scalar(f'Recall/val', mean_recall, iteration + 1)

        writer.close()

        if val_accuracy > best_metrics[optimizer]['accuracy']:
            best_metrics[optimizer].update({
                'accuracy': val_accuracy,
                'f1_score': mean_f1_score,
                'precision': mean_precision,
                'recall': mean_recall
            })
            best_params[optimizer] = params
            best_loss_fn[optimizer] = loss_fn_name

        print(f"Optimizer: {optimizer} | Iteration {iteration + 1}/{num_iterations}")
        print("Hyperparamètres :", params)
        print("Fonction de coût :", loss_fn_name)
        print("Accuracy :", val_accuracy)
        print("F1 Score moyen :", mean_f1_score)
        print("Précision moyenne :", mean_precision)
        print("Rappel moyen :", mean_recall)
        print()

for optimizer in optimizers:
    print(f"Meilleurs hyperparamètres pour {optimizer} :", best_params[optimizer])
    print(f"Meilleure fonction de coût pour {optimizer} :", best_loss_fn[optimizer])
    print(f"Meilleure accuracy pour {optimizer} :", best_metrics[optimizer]['accuracy'])
    print(f"Meilleur F1 Score moyen pour {optimizer} :", best_metrics[optimizer]['f1_score'])
    print(f"Meilleure précision moyenne pour {optimizer} :", best_metrics[optimizer]['precision'])
    print(f"Meilleur rappel moyen pour {optimizer} :", best_metrics[optimizer]['recall'])
    print()

Optimizer: AdaGrad | Iteration 1/120
Hyperparamètres : {'hidden_sizes': (16,), 'activation_fn': <class 'torch.nn.modules.activation.ReLU'>, 'learning_rate': 0.03733597448823182, 'batch_size': 31}
Fonction de coût : BCELoss
Accuracy : 0.823943661971831
F1 Score moyen : 0.7663551401869159
Précision moyenne : 0.8367346938775511
Rappel moyen : 0.7068965517241379

Optimizer: AdaGrad | Iteration 2/120
Hyperparamètres : {'hidden_sizes': (32,), 'activation_fn': <class 'torch.nn.modules.activation.Sigmoid'>, 'learning_rate': 0.006022263632403868, 'batch_size': 63}
Fonction de coût : FocalLoss
Accuracy : 0.5915492957746479
F1 Score moyen : 0.0
Précision moyenne : 1.0
Rappel moyen : 0.0

Optimizer: AdaGrad | Iteration 3/120
Hyperparamètres : {'hidden_sizes': (16,), 'activation_fn': <class 'torch.nn.modules.activation.Sigmoid'>, 'learning_rate': 0.021674169164578254, 'batch_size': 17}
Fonction de coût : BCELoss
Accuracy : 0.8098591549295775
F1 Score moyen : 0.7428571428571429
Précision moyenne : 0.8297872340425532
Rappel moyen : 0.6724137931034483

Optimizer: AdaGrad | Iteration 4/120
Hyperparamètres : {'hidden_sizes': (32,), 'activation_fn': <class 'torch.nn.modules.activation.ReLU'>, 'learning_rate': 0.025762409117064757, 'batch_size': 17}
Fonction de coût : FocalLoss
Accuracy : 0.7746478873239436
F1 Score moyen : 0.6595744680851063
Précision moyenne : 0.8611111111111112
Rappel moyen : 0.5344827586206896

Optimizer: AdaGrad | Iteration 5/120
Hyperparamètres : {'hidden_sizes': (32,), 'activation_fn': <class 'torch.nn.modules.activation.Sigmoid'>, 'learning_rate': 0.03284433745119664, 'batch_size': 50}
Fonction de coût : BCEWithLogitsLoss
Accuracy : 0.8098591549295775
F1 Score moyen : 0.7428571428571429
Précision moyenne : 0.8297872340425532
Rappel moyen : 0.6724137931034483

Optimizer: AdaGrad | Iteration 6/120
Hyperparamètres : {'hidden_sizes': (32,), 'activation_fn': <class 'torch.nn.modules.activation.Tanh'>, 'learning_rate': 0.02987401850991953, 'batch_size': 16}
Fonction de coût : BCELoss
Accuracy : 0.8309859154929577
F1 Score moyen : 0.7735849056603774
Précision moyenne : 0.8541666666666666
Rappel moyen : 0.7068965517241379

Optimizer: AdaGrad | Iteration 7/120
Hyperparamètres : {'hidden_sizes': (32, 16), 'activation_fn': <class 'torch.nn.modules.activation.Tanh'>, 'learning_rate': 0.014615695741910451, 'batch_size': 29}
Fonction de coût : BCEWithLogitsLoss
Accuracy : 0.8169014084507042
F1 Score moyen : 0.75
Précision moyenne : 0.8478260869565217
Rappel moyen : 0.6724137931034483

Optimizer: AdaGrad | Iteration 8/120
Hyperparamètres : {'hidden_sizes': (16,), 'activation_fn': <class 'torch.nn.modules.activation.ReLU'>, 'learning_rate': 0.019616437731229532, 'batch_size': 38}
Fonction de coût : BCEWithLogitsLoss
Accuracy : 0.823943661971831
F1 Score moyen : 0.7619047619047619
Précision moyenne : 0.851063829787234
Rappel moyen : 0.6896551724137931

Optimizer: AdaGrad | Iteration 9/120
Hyperparamètres : {'hidden_sizes': (64, 32, 16), 'activation_fn': <class 'torch.nn.modules.activation.Tanh'>, 'learning_rate': 0.04054928539044463, 'batch_size': 62}
Fonction de coût : BCEWithLogitsLoss
Accuracy : 0.8169014084507042
F1 Score moyen : 0.75
Précision moyenne : 0.8478260869565217
Rappel moyen : 0.6724137931034483

Optimizer: AdaGrad | Iteration 10/120
Hyperparamètres : {'hidden_sizes': (64, 32, 16), 'activation_fn': <class 'torch.nn.modules.activation.ReLU'>, 'learning_rate': 0.04868267243498916, 'batch_size': 40}
Fonction de coût : BCELoss
Accuracy : 0.8309859154929577
F1 Score moyen : 0.7777777777777778
Précision moyenne : 0.84
Rappel moyen : 0.7241379310344828

Optimizer: AdaGrad | Iteration 11/120
Hyperparamètres : {'hidden_sizes': (64, 32, 16), 'activation_fn': <class 'torch.nn.modules.activation.Tanh'>, 'learning_rate': 0.04164082854839675, 'batch_size': 55}
Fonction de coût : BCEWithLogitsLoss
Accuracy : 0.8169014084507042
F1 Score moyen : 0.7592592592592593
Précision moyenne : 0.82
Rappel moyen : 0.7068965517241379

Optimizer: AdaGrad | Iteration 12/120
Hyperparamètres : {'hidden_sizes': (64, 32, 16), 'activation_fn': <class 'torch.nn.modules.activation.ReLU'>, 'learning_rate': 0.03552401997453125, 'batch_size': 18}
Fonction de coût : FocalLoss
Accuracy : 0.795774647887324
F1 Score moyen : 0.6881720430107527
Précision moyenne : 0.9142857142857143
Rappel moyen : 0.5517241379310345

Optimizer: AdaGrad | Iteration 13/120
Hyperparamètres : {'hidden_sizes': (32,), 'activation_fn': <class 'torch.nn.modules.activation.Tanh'>, 'learning_rate': 0.049275854512377135, 'batch_size': 30}
Fonction de coût : BCELoss
Accuracy : 0.823943661971831
F1 Score moyen : 0.7619047619047619
Précision moyenne : 0.851063829787234
Rappel moyen : 0.6896551724137931

Optimizer: AdaGrad | Iteration 14/120
Hyperparamètres : {'hidden_sizes': (32, 16), 'activation_fn': <class 'torch.nn.modules.activation.Tanh'>, 'learning_rate': 0.023217104816053342, 'batch_size': 39}
Fonction de coût : BCELoss
Accuracy : 0.8098591549295775
F1 Score moyen : 0.7378640776699029
Précision moyenne : 0.8444444444444444
Rappel moyen : 0.6551724137931034

Optimizer: AdaGrad | Iteration 15/120
Hyperparamètres : {'hidden_sizes': (16, 8), 'activation_fn': <class 'torch.nn.modules.activation.Tanh'>, 'learning_rate': 0.011265844507802898, 'batch_size': 33}
Fonction de coût : FocalLoss
Accuracy : 0.7605633802816901
F1 Score moyen : 0.6382978723404256
Précision moyenne : 0.8333333333333334
Rappel moyen : 0.5172413793103449

Optimizer: AdaGrad | Iteration 16/120
Hyperparamètres : {'hidden_sizes': (16,), 'activation_fn': <class 'torch.nn.modules.activation.Sigmoid'>, 'learning_rate': 0.03211393612165595, 'batch_size': 50}
Fonction de coût : FocalLoss
Accuracy : 0.7605633802816901
F1 Score moyen : 0.6304347826086957
Précision moyenne : 0.8529411764705882
Rappel moyen : 0.5

Optimizer: AdaGrad | Iteration 17/120
Hyperparamètres : {'hidden_sizes': (32,), 'activation_fn': <class 'torch.nn.modules.activation.ReLU'>, 'learning_rate': 0.023650750380704674, 'batch_size': 33}
Fonction de coût : FocalLoss
Accuracy : 0.7887323943661971
F1 Score moyen : 0.6938775510204082
Précision moyenne : 0.85
Rappel moyen : 0.5862068965517241

Optimizer: AdaGrad | Iteration 18/120
Hyperparamètres : {'hidden_sizes': (64, 32, 16), 'activation_fn': <class 'torch.nn.modules.activation.ReLU'>, 'learning_rate': 0.03454609829850386, 'batch_size': 19}
Fonction de coût : BCELoss
Accuracy : 0.8309859154929577
F1 Score moyen : 0.7818181818181819
Précision moyenne : 0.8269230769230769
Rappel moyen : 0.7413793103448276

Optimizer: AdaGrad | Iteration 19/120
Hyperparamètres : {'hidden_sizes': (16,), 'activation_fn': <class 'torch.nn.modules.activation.Tanh'>, 'learning_rate': 0.02065707456409412, 'batch_size': 20}
Fonction de coût : BCELoss
Accuracy : 0.8169014084507042
F1 Score moyen : 0.7547169811320755
Précision moyenne : 0.8333333333333334
Rappel moyen : 0.6896551724137931

Optimizer: AdaGrad | Iteration 20/120
Hyperparamètres : {'hidden_sizes': (64, 32, 16), 'activation_fn': <class 'torch.nn.modules.activation.Sigmoid'>, 'learning_rate': 0.016419216159125418, 'batch_size': 57}
Fonction de coût : BCEWithLogitsLoss
Accuracy : 0.8098591549295775
F1 Score moyen : 0.7428571428571429
Précision moyenne : 0.8297872340425532
Rappel moyen : 0.6724137931034483

Optimizer: AdaGrad | Iteration 21/120
Hyperparamètres : {'hidden_sizes': (32, 16), 'activation_fn': <class 'torch.nn.modules.activation.Sigmoid'>, 'learning_rate': 0.023483740776782544, 'batch_size': 32}
Fonction de coût : BCELoss
Accuracy : 0.823943661971831
F1 Score moyen : 0.7619047619047619
Précision moyenne : 0.851063829787234
Rappel moyen : 0.6896551724137931

Optimizer: AdaGrad | Iteration 22/120
Hyperparamètres : {'hidden_sizes': (32,), 'activation_fn': <class 'torch.nn.modules.activation.Sigmoid'>, 'learning_rate': 0.028507038573994392, 'batch_size': 32}
Fonction de coût : FocalLoss
Accuracy : 0.7676056338028169
F1 Score moyen : 0.6451612903225806
Précision moyenne : 0.8571428571428571
Rappel moyen : 0.5172413793103449

Optimizer: AdaGrad | Iteration 23/120
Hyperparamètres : {'hidden_sizes': (64, 32, 16), 'activation_fn': <class 'torch.nn.modules.activation.Tanh'>, 'learning_rate': 0.04499332129652137, 'batch_size': 41}
Fonction de coût : BCEWithLogitsLoss
Accuracy : 0.8169014084507042
F1 Score moyen : 0.7592592592592593
Précision moyenne : 0.82
Rappel moyen : 0.7068965517241379

Optimizer: AdaGrad | Iteration 24/120
Hyperparamètres : {'hidden_sizes': (32,), 'activation_fn': <class 'torch.nn.modules.activation.ReLU'>, 'learning_rate': 0.025966788390146763, 'batch_size': 21}
Fonction de coût : BCELoss
Accuracy : 0.823943661971831
F1 Score moyen : 0.7619047619047619
Précision moyenne : 0.851063829787234
Rappel moyen : 0.6896551724137931

Optimizer: AdaGrad | Iteration 25/120
Hyperparamètres : {'hidden_sizes': (16,), 'activation_fn': <class 'torch.nn.modules.activation.ReLU'>, 'learning_rate': 0.03174485604345141, 'batch_size': 59}
Fonction de coût : BCEWithLogitsLoss
Accuracy : 0.8169014084507042
F1 Score moyen : 0.7547169811320755
Précision moyenne : 0.8333333333333334
Rappel moyen : 0.6896551724137931

Optimizer: AdaGrad | Iteration 26/120
Hyperparamètres : {'hidden_sizes': (64, 32, 16), 'activation_fn': <class 'torch.nn.modules.activation.ReLU'>, 'learning_rate': 0.019853598272050504, 'batch_size': 54}
Fonction de coût : BCEWithLogitsLoss
Accuracy : 0.8098591549295775
F1 Score moyen : 0.7522935779816514
Précision moyenne : 0.803921568627451
Rappel moyen : 0.7068965517241379

Optimizer: AdaGrad | Iteration 27/120
Hyperparamètres : {'hidden_sizes': (64, 32, 16), 'activation_fn': <class 'torch.nn.modules.activation.Tanh'>, 'learning_rate': 0.04858284050306729, 'batch_size': 16}
Fonction de coût : FocalLoss
Accuracy : 0.7323943661971831
F1 Score moyen : 0.5476190476190477
Précision moyenne : 0.8846153846153846
Rappel moyen : 0.39655172413793105

Optimizer: AdaGrad | Iteration 28/120
Hyperparamètres : {'hidden_sizes': (16,), 'activation_fn': <class 'torch.nn.modules.activation.Sigmoid'>, 'learning_rate': 0.04435463405632634, 'batch_size': 64}
Fonction de coût : BCEWithLogitsLoss
Accuracy : 0.8098591549295775
F1 Score moyen : 0.7428571428571429
Précision moyenne : 0.8297872340425532
Rappel moyen : 0.6724137931034483

Optimizer: AdaGrad | Iteration 29/120
Hyperparamètres : {'hidden_sizes': (16, 8), 'activation_fn': <class 'torch.nn.modules.activation.ReLU'>, 'learning_rate': 0.015381506303723883, 'batch_size': 26}
Fonction de coût : BCEWithLogitsLoss
Accuracy : 0.8098591549295775
F1 Score moyen : 0.7378640776699029
Précision moyenne : 0.8444444444444444
Rappel moyen : 0.6551724137931034

Optimizer: AdaGrad | Iteration 30/120
Hyperparamètres : {'hidden_sizes': (16,), 'activation_fn': <class 'torch.nn.modules.activation.Sigmoid'>, 'learning_rate': 0.04391679407853151, 'batch_size': 32}
Fonction de coût : FocalLoss
Accuracy : 0.7676056338028169
F1 Score moyen : 0.6451612903225806
Précision moyenne : 0.8571428571428571
Rappel moyen : 0.5172413793103449

Optimizer: AdaGrad | Iteration 31/120
Hyperparamètres : {'hidden_sizes': (32,), 'activation_fn': <class 'torch.nn.modules.activation.Sigmoid'>, 'learning_rate': 0.04571876412789621, 'batch_size': 56}
Fonction de coût : BCEWithLogitsLoss
Accuracy : 0.8169014084507042
F1 Score moyen : 0.7547169811320755
Précision moyenne : 0.8333333333333334
Rappel moyen : 0.6896551724137931

Optimizer: AdaGrad | Iteration 32/120
Hyperparamètres : {'hidden_sizes': (64, 32, 16), 'activation_fn': <class 'torch.nn.modules.activation.Sigmoid'>, 'learning_rate': 0.010746643986471918, 'batch_size': 39}
Fonction de coût : BCELoss
Accuracy : 0.8169014084507042
F1 Score moyen : 0.7547169811320755
Précision moyenne : 0.8333333333333334
Rappel moyen : 0.6896551724137931

Optimizer: AdaGrad | Iteration 33/120
Hyperparamètres : {'hidden_sizes': (64, 32, 16), 'activation_fn': <class 'torch.nn.modules.activation.Sigmoid'>, 'learning_rate': 0.046006181225389416, 'batch_size': 54}
Fonction de coût : BCEWithLogitsLoss
Accuracy : 0.7887323943661971
F1 Score moyen : 0.7169811320754716
Précision moyenne : 0.7916666666666666
Rappel moyen : 0.6551724137931034

Optimizer: AdaGrad | Iteration 34/120
Hyperparamètres : {'hidden_sizes': (32, 16), 'activation_fn': <class 'torch.nn.modules.activation.ReLU'>, 'learning_rate': 0.006481518540723858, 'batch_size': 39}
Fonction de coût : BCEWithLogitsLoss
Accuracy : 0.6549295774647887
F1 Score moyen : 0.26865671641791045
Précision moyenne : 1.0
Rappel moyen : 0.15517241379310345

Optimizer: AdaGrad | Iteration 35/120
Hyperparamètres : {'hidden_sizes': (32,), 'activation_fn': <class 'torch.nn.modules.activation.ReLU'>, 'learning_rate': 0.012802708029914421, 'batch_size': 52}
Fonction de coût : BCELoss
Accuracy : 0.8169014084507042
F1 Score moyen : 0.7547169811320755
Précision moyenne : 0.8333333333333334
Rappel moyen : 0.6896551724137931

Optimizer: AdaGrad | Iteration 36/120
Hyperparamètres : {'hidden_sizes': (16,), 'activation_fn': <class 'torch.nn.modules.activation.Sigmoid'>, 'learning_rate': 0.024813532702514077, 'batch_size': 20}
Fonction de coût : FocalLoss
Accuracy : 0.7605633802816901
F1 Score moyen : 0.6304347826086957
Précision moyenne : 0.8529411764705882
Rappel moyen : 0.5

Optimizer: AdaGrad | Iteration 37/120
Hyperparamètres : {'hidden_sizes': (32,), 'activation_fn': <class 'torch.nn.modules.activation.ReLU'>, 'learning_rate': 0.033327790314621006, 'batch_size': 51}
Fonction de coût : BCELoss
Accuracy : 0.8169014084507042
F1 Score moyen : 0.7636363636363637
Précision moyenne : 0.8076923076923077
Rappel moyen : 0.7241379310344828

Optimizer: AdaGrad | Iteration 38/120
Hyperparamètres : {'hidden_sizes': (16, 8), 'activation_fn': <class 'torch.nn.modules.activation.Sigmoid'>, 'learning_rate': 0.04374921901317762, 'batch_size': 43}
Fonction de coût : BCELoss
Accuracy : 0.8098591549295775
F1 Score moyen : 0.7428571428571429
Précision moyenne : 0.8297872340425532
Rappel moyen : 0.6724137931034483

Optimizer: AdaGrad | Iteration 39/120
Hyperparamètres : {'hidden_sizes': (64, 32, 16), 'activation_fn': <class 'torch.nn.modules.activation.Sigmoid'>, 'learning_rate': 0.03480351397288145, 'batch_size': 61}
Fonction de coût : BCEWithLogitsLoss
Accuracy : 0.7887323943661971
F1 Score moyen : 0.7169811320754716
Précision moyenne : 0.7916666666666666
Rappel moyen : 0.6551724137931034

Optimizer: AdaGrad | Iteration 40/120
Hyperparamètres : {'hidden_sizes': (32, 16), 'activation_fn': <class 'torch.nn.modules.activation.Sigmoid'>, 'learning_rate': 0.032844024824333226, 'batch_size': 44}
Fonction de coût : FocalLoss
Accuracy : 0.7535211267605634
F1 Score moyen : 0.6153846153846154
Précision moyenne : 0.8484848484848485
Rappel moyen : 0.4827586206896552

Optimizer: AdaGrad | Iteration 41/120
Hyperparamètres : {'hidden_sizes': (32, 16), 'activation_fn': <class 'torch.nn.modules.activation.ReLU'>, 'learning_rate': 0.013147375069634388, 'batch_size': 20}
Fonction de coût : BCEWithLogitsLoss
Accuracy : 0.8098591549295775
F1 Score moyen : 0.7476635514018691
Précision moyenne : 0.8163265306122449
Rappel moyen : 0.6896551724137931

Optimizer: AdaGrad | Iteration 42/120
Hyperparamètres : {'hidden_sizes': (16,), 'activation_fn': <class 'torch.nn.modules.activation.Sigmoid'>, 'learning_rate': 0.028142154598799513, 'batch_size': 53}
Fonction de coût : BCELoss
Accuracy : 0.8169014084507042
F1 Score moyen : 0.7547169811320755
Précision moyenne : 0.8333333333333334
Rappel moyen : 0.6896551724137931

Optimizer: AdaGrad | Iteration 43/120
Hyperparamètres : {'hidden_sizes': (16,), 'activation_fn': <class 'torch.nn.modules.activation.ReLU'>, 'learning_rate': 0.03568420638087425, 'batch_size': 19}
Fonction de coût : BCELoss
Accuracy : 0.823943661971831
F1 Score moyen : 0.7619047619047619
Précision moyenne : 0.851063829787234
Rappel moyen : 0.6896551724137931

Optimizer: AdaGrad | Iteration 44/120
Hyperparamètres : {'hidden_sizes': (16,), 'activation_fn': <class 'torch.nn.modules.activation.ReLU'>, 'learning_rate': 0.04312213461243358, 'batch_size': 20}
Fonction de coût : FocalLoss
Accuracy : 0.7816901408450704
F1 Score moyen : 0.6736842105263158
Précision moyenne : 0.8648648648648649
Rappel moyen : 0.5517241379310345

Optimizer: AdaGrad | Iteration 45/120
Hyperparamètres : {'hidden_sizes': (32,), 'activation_fn': <class 'torch.nn.modules.activation.Tanh'>, 'learning_rate': 0.03377991113651775, 'batch_size': 29}
Fonction de coût : FocalLoss
Accuracy : 0.795774647887324
F1 Score moyen : 0.6947368421052632
Précision moyenne : 0.8918918918918919
Rappel moyen : 0.5689655172413793

Optimizer: AdaGrad | Iteration 46/120
Hyperparamètres : {'hidden_sizes': (32,), 'activation_fn': <class 'torch.nn.modules.activation.Sigmoid'>, 'learning_rate': 0.04684019778845288, 'batch_size': 52}
Fonction de coût : FocalLoss
Accuracy : 0.7816901408450704
F1 Score moyen : 0.6736842105263158
Précision moyenne : 0.8648648648648649
Rappel moyen : 0.5517241379310345

Optimizer: AdaGrad | Iteration 47/120
Hyperparamètres : {'hidden_sizes': (32, 16), 'activation_fn': <class 'torch.nn.modules.activation.ReLU'>, 'learning_rate': 0.03944635179024692, 'batch_size': 42}
Fonction de coût : BCELoss
Accuracy : 0.8098591549295775
F1 Score moyen : 0.7476635514018691
Précision moyenne : 0.8163265306122449
Rappel moyen : 0.6896551724137931

Optimizer: AdaGrad | Iteration 48/120
Hyperparamètres : {'hidden_sizes': (16,), 'activation_fn': <class 'torch.nn.modules.activation.ReLU'>, 'learning_rate': 0.03329015472621849, 'batch_size': 38}
Fonction de coût : BCEWithLogitsLoss
Accuracy : 0.8169014084507042
F1 Score moyen : 0.7547169811320755
Précision moyenne : 0.8333333333333334
Rappel moyen : 0.6896551724137931

Optimizer: AdaGrad | Iteration 49/120
Hyperparamètres : {'hidden_sizes': (32, 16), 'activation_fn': <class 'torch.nn.modules.activation.Tanh'>, 'learning_rate': 0.04332800067011056, 'batch_size': 19}
Fonction de coût : FocalLoss
Accuracy : 0.7887323943661971
F1 Score moyen : 0.6875
Précision moyenne : 0.868421052631579
Rappel moyen : 0.5689655172413793

Optimizer: AdaGrad | Iteration 50/120
Hyperparamètres : {'hidden_sizes': (16,), 'activation_fn': <class 'torch.nn.modules.activation.ReLU'>, 'learning_rate': 0.020728442823011173, 'batch_size': 37}
Fonction de coût : BCELoss
Accuracy : 0.8309859154929577
F1 Score moyen : 0.7777777777777778
Précision moyenne : 0.84
Rappel moyen : 0.7241379310344828

Optimizer: AdaGrad | Iteration 51/120
Hyperparamètres : {'hidden_sizes': (32,), 'activation_fn': <class 'torch.nn.modules.activation.ReLU'>, 'learning_rate': 0.010320236513599763, 'batch_size': 44}
Fonction de coût : BCELoss
Accuracy : 0.8309859154929577
F1 Score moyen : 0.7777777777777778
Précision moyenne : 0.84
Rappel moyen : 0.7241379310344828

Optimizer: AdaGrad | Iteration 52/120
Hyperparamètres : {'hidden_sizes': (32, 16), 'activation_fn': <class 'torch.nn.modules.activation.ReLU'>, 'learning_rate': 0.014648712088680082, 'batch_size': 31}
Fonction de coût : BCELoss
Accuracy : 0.8098591549295775
F1 Score moyen : 0.7476635514018691
Précision moyenne : 0.8163265306122449
Rappel moyen : 0.6896551724137931

Optimizer: AdaGrad | Iteration 53/120
Hyperparamètres : {'hidden_sizes': (32, 16), 'activation_fn': <class 'torch.nn.modules.activation.Sigmoid'>, 'learning_rate': 0.005797527681878418, 'batch_size': 57}
Fonction de coût : FocalLoss
Accuracy : 0.5915492957746479
F1 Score moyen : 0.0
Précision moyenne : 1.0
Rappel moyen : 0.0

Optimizer: AdaGrad | Iteration 54/120
Hyperparamètres : {'hidden_sizes': (16,), 'activation_fn': <class 'torch.nn.modules.activation.ReLU'>, 'learning_rate': 0.04639198216739825, 'batch_size': 31}
Fonction de coût : BCELoss
Accuracy : 0.8309859154929577
F1 Score moyen : 0.7735849056603774
Précision moyenne : 0.8541666666666666
Rappel moyen : 0.7068965517241379

Optimizer: AdaGrad | Iteration 55/120
Hyperparamètres : {'hidden_sizes': (32, 16), 'activation_fn': <class 'torch.nn.modules.activation.Tanh'>, 'learning_rate': 0.02458656248058094, 'batch_size': 41}

In [61]:
import torch
import numpy as np
import random

# Fixer les graines pour la reproductibilité
def set_seed(seed=42):
    torch.manual_seed(seed)
    torch.cuda.manual_seed(seed)
    torch.cuda.manual_seed_all(seed) 
    np.random.seed(seed)
    random.seed(seed)
    torch.backends.cudnn.benchmark = False
    torch.backends.cudnn.deterministic = True

def evaluate_best_model(best_params, best_loss_fn, X_train, Y_train, X_test, Y_test, optimizer_type):
    set_seed()

    X_train_tensor = torch.tensor(X_train.values, dtype=torch.float32).to(device)
    Y_train_tensor = torch.tensor(Y_train.values, dtype=torch.float32).unsqueeze(1).to(device)
    X_test_tensor = torch.tensor(X_test.values, dtype=torch.float32).to(device)
    Y_test_tensor = torch.tensor(Y_test.values, dtype=torch.float32).unsqueeze(1).to(device)

    train_loader = DataLoader(TensorDataset(X_train_tensor, Y_train_tensor), batch_size=best_params[optimizer_type]['batch_size'], shuffle=True)

    model = TitanicNN(input_size, best_params[optimizer_type]['hidden_sizes'], output_size, best_params[optimizer_type]['activation_fn']).to(device)
    criterion = loss_functions[best_loss_fn[optimizer_type]]

    if optimizer_type == 'SGD':
        optimizer = optim.SGD(model.parameters(), lr=best_params[optimizer_type]['learning_rate'])
    elif optimizer_type == 'AdaGrad':
        optimizer = optim.Adagrad(model.parameters(), lr=best_params[optimizer_type]['learning_rate'])
    elif optimizer_type == 'Adam':
        optimizer = optim.Adam(model.parameters(), lr=best_params[optimizer_type]['learning_rate'])

    run_name = f"Best_Model_{optimizer_type}"

    writer = SummaryWriter(f"runs/{run_name}")

    writer.add_graph(model, X_train_tensor[:1]) 

    for epoch in range(num_epochs):
        model.train()
        running_loss = 0.0
        for i, (inputs, labels) in enumerate(train_loader):
            optimizer.zero_grad()
            outputs = model(inputs)
            loss = criterion(outputs, labels)
            loss.backward()
            optimizer.step()
            running_loss += loss.item()

        writer.add_scalar('Loss/train_epoch', running_loss / len(train_loader), epoch)

    # Évaluer le modèle sur le jeu de test
    model.eval()
    test_loader = DataLoader(TensorDataset(X_test_tensor, Y_test_tensor), batch_size=best_params[optimizer_type]['batch_size'], shuffle=False)
    all_predictions = []
    all_labels = []
    test_loss = 0.0
    with torch.no_grad():
        for inputs, labels in test_loader:
            outputs = model(inputs)
            loss = criterion(outputs, labels)
            test_loss += loss.item()
            predictions = (outputs > 0.5).float()
            all_predictions.extend(predictions.cpu().numpy())
            all_labels.extend(labels.cpu().numpy())

    test_accuracy = np.mean(np.array(all_predictions) == np.array(all_labels))
    test_f1_score = f1_score(all_labels, all_predictions, zero_division=1)
    test_precision = precision_score(all_labels, all_predictions, zero_division=1)
    test_recall = recall_score(all_labels, all_predictions, zero_division=1)

    writer.add_scalar('Loss/test', test_loss / len(test_loader), epoch)
    writer.add_scalar('Accuracy/test', test_accuracy, epoch)
    writer.add_scalar('F1_Score/test', test_f1_score, epoch)
    writer.add_scalar('Precision/test', test_precision, epoch)
    writer.add_scalar('Recall/test', test_recall, epoch)

    writer.close()

    print(f"Évaluation sur le jeu de test pour {optimizer_type} :")
    print(f"Accuracy : {test_accuracy}")
    print(f"F1 Score : {test_f1_score}")
    print(f"Précision : {test_precision}")
    print(f"Rappel : {test_recall}")

# Évaluer les meilleurs modèles pour chaque optimiseur
for optimizer in optimizers:
    print(best_params[optimizer])
    evaluate_best_model(best_params, best_loss_fn, X_train, Y_train, X_test, y_test, optimizer)

{'hidden_sizes': (64, 32, 16), 'activation_fn': <class 'torch.nn.modules.activation.ReLU'>, 'learning_rate': 0.019874576233891633, 'batch_size': 52}
Évaluation sur le jeu de test pour AdaGrad :
Accuracy : 0.8202247191011236
F1 Score : 0.7241379310344828
Précision : 0.7636363636363637
Rappel : 0.6885245901639344
{'hidden_sizes': (32, 16), 'activation_fn': <class 'torch.nn.modules.activation.Tanh'>, 'learning_rate': 0.010761632956335726, 'batch_size': 40}
Évaluation sur le jeu de test pour Adam :
Accuracy : 0.8089887640449438
F1 Score : 0.6964285714285714
Précision : 0.7647058823529411
Rappel : 0.639344262295082